[submodule "Middlewares/Third_Party/Modbus-STM32-HAL-FreeRTOS"]
	path = Middlewares/Third_Party/Modbus-STM32-HAL-FreeRTOS
	url = https://github.com/alejoseb/Modbus-STM32-HAL-FreeRTOS
[submodule "Middlewares/Third_Party/ioLibrary_Driver"]
	path = Middlewares/Third_Party/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver.git
